@charset "UTF-8"; 
@import url('https//fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{
    font-family:'idroid';
            src: url(pacote-projeto-d010/idroid.otf) format('opentype');
            font-weight: normal;
}
:root{
    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --cor1:#adffb0;
    --cor2:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#2fa866;
    --cor5:#1a5c37;
    --cor6:#063d1e;
}
* {
    margin: 0;
    padding: 0;
}

body{
    background-color:var(--cor5);
    font-family: var(--fonte-padrao);
}
header {
    background-image: linear-gradient(to bottom,var(--cor3),var(--cor5));
    color: white;
}
.topo{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    font-family: var(--fonte-destaque);
}
.menu a {
    display:inline-block;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-weight:bold;
}
.menu a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 10%;
}
main{
    background-color: white;
    padding: 20px;
    max-width: 900px;
    min-width: 300px;
    margin:auto;
}
main h1{
    font-family: 'idroid';
    color: #00b300;
}
main p{
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    margin:15px 0px;
    padding: 10px 5px;
}
main strong{
    color:var(--cor5);
    font-weight: bolder;
    padding: 2px 5px;
    font-size: large;
}
main a{
    text-decoration: none;
    color: var(--cor5);
    background-color: var(--cor2);
    font-weight: bold;
    padding: 2px 5px;
}
main a:hover{
    text-decoration:underline;
}
h2{
    font-family: 'idroid';
    color: var(--cor5);
    background-image: linear-gradient(to right,var(--cor2),transparent);
    text-indent: 10px;
}
img{
    width:100%;
}
.video{
    background-color: var(--cor6);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
}
.video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
}
aside h3{
    background-color: var(--cor4);
    color: white;
    margin:-10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}
aside ul{
    list-style-position: inside;
    columns: 2;
    padding: 0px 0px 0px 40px;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
}
footer a{
    text-decoration: none;
    color: var(--cor1);
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}