@charset "UTF-8"; 
@import url('https//fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{
    font-family:'idroid';
            src: url(pacote-projeto-d010/idroid.otf) format('opentype');
            font-weight: normal;
}
:root{
    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --cor1:#adffb0;
    --cor2:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#2fa866;
    --cor5:#1a5c37;
    --cor6:#063d1e;
}
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor5);
    font-family: var(--fonte-padrao);
}
main{
    background-color: white;
    padding: 20px;
    max-width: 900px;
    min-width: 300px;
    margin:auto;
}
img{
    width:100%;
}
header {
    background-image: linear-gradient(to bottom,var(--cor4),var(--cor5));
    color: white;
}

.topo{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    font-family: var(--fonte-destaque);
}
.menu a {
    display:inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
.menu a:hover {
    background-color: green;
    border-radius: 15%;
}

main h1{
    font-family: 'idroid';
    color: #00b300;
}
h2{
    font-family: 'idroid';
    color: #00b300;
    background-image: linear-gradient(to right,var(--cor2),var(--cor1));

}
main p{
    text-align: justify;
    text-indent: 24px;
    padding: 10px 5px 20px 5px;
    margin:10px;
}
.video{
    text-align: center;
    background-color: var(--cor5);
    width: 100%;
}
.mais{
    background-color: var(--cor3);
    border-radius: 10px,10px;
    padding: 20px,0px,0px,0px;
}
.about{
    background-color: var(--cor2) ;
    list-style:inside;
}


footer{
    background-color: var(--cor5);
    color: white;
}