@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
*{
    padding: 0;
    margin: 0;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding-inline: 10px;
    padding: 50px;
    font-family: "Archivo Black", sans-serif;
}
main{
    padding: 5em;
    line-height: 3em;
    font-family: "chewy";
    text-decoration: none;
}
.imagem{
    height: 600px;
    padding: -60px 0px;
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-size: cover;
}
.imagem img{
    background-position: center;
}
.img2{
    height: 600px;
    padding: -60px 0px;
    background-image: url(pacote-d012/imagens/background002.jpg);
    background-size: cover;
}
.img2 img{
    background-position: center;
}
footer{
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}